{% extends 'base.html' %}

{% block content %}
<h1>세부정보</h1>
<table class="table table-bordered p-3">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ object.title }}</td>
            <td>{{ object.description }}</td>
            <td>{{ object.price }} 원</td>
        </tr>
    </tbody>
</table>
<a type="button" class="btn btn-primary" href="/product/">목록</a>
<a type="button" class="btn btn-danger" href="/product/{{ object.id }}/delete">삭제</a>

{% endblock %}