{% extends 'base.html' %}

{% block content %}
<h1>세부정보</h1>
<table class="table table-bordered p-3">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td><a href="/product/{{ product.id }}">{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }} 원</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a type="button" class="btn btn-primary" href="/product/new">생성</a>


{% endblock %}