<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="/instagram">
            <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png">
        </a>

        <input class="form-control me-2" type="search" placeholder="검색" aria-label="Search"
            style=" width:300px;
            ">
        <div>
            <span class="material-symbols-outlined">
                home
            </span>
            <span class="material-symbols-outlined">
                send
            </span>
            <span class="material-symbols-outlined">
                add_circle
            </span>
            <span class="material-symbols-outlined">
                explore
            </span>
            <span class="material-symbols-outlined">
                favorite
            </span>
        </div>
    </div>
</nav>